@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {

  /*La paleta de colores que se usara en toda la página*/

  --white: #fff;
  --d-gray: #ddd;
  --bg: #eee;
  --b-gray: #bbb;
  --gray: #888;
  --black: #222;

  --main-color: #263a7f;
  --main-lighter-color: #b7c1ff;
  --main-darker-color: #222d65;
  --main-color-alt: #24aaf7;
  --main-darker-color-alt: #24aaf7;

  --titles: 'Roboto', sans-serif;
  --buttons: 'Roboto', sans-serif;
  --paragraphs: 'Roboto', sans-serif;

  --whatsapp: #0df053;

  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(183,193,255,1) 15%, rgba(183,193,255,1) 100%,rgba(255,255,255,1) 0%,);
}

body {
  height: 100vh;
}

header {
  height: 12.5vh;
}

main {
  min-height: 87.5vh;
}

h2, h3 {
    font-size: 3.5rem;
    color: var(--black);
    text-align: center;
    font-family: var(--titles);
}

h3 {
    font-size: 2.5rem;
}

h5 {
  color: var(--black);
    font-size: 1.4rem;
    font-family: var(--titles);
}

* {
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 1400px) {
  :root {
    font-size: 55%;
  }
}